{:deps {io.github.borkdude/unused-deps {:git/sha "77fc627b3a0dc547841a17bdaa09ea51c392676c"}}
 :tasks
 {unused-deps {:doc "Find unused dependencies"
               :task (exec 'borkdude.unused-deps/unused-deps)}}}