{:deps {org.scicloj/noj {:mvn/version "2-beta18"}
        org.scicloj/metamorph.ml {:mvn/version "1.2beta1.6"}
        clj-python/libpython-clj  {:mvn/version "2.026"}
        org.scicloj/sklearn-clj {:mvn/version "0.5"}}
 :paths ["notebooks"]
 :exec-fn ["borkdude.unused-deps/exec-fn"]}